.card {
  max-width: 350px;
}

.img-wrapper {
  position: relative;

  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-primary-400-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.img-wrapper:hover .img-overlay {
  opacity: 3;
}
