.bg-primary-500 {
  background-color: var(--clr-primary-500);
}
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-neutral-950 {
  background-color: var(--clr-neutral-950);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}
