.font-outfit {
  font-family: var(--ff-base);
}
.txt-primary-500 {
  color: var(--clr-primary-500);
}
.txt-primary-400 {
  color: var(--clr-primary-400);
}
.txt-white {
  color: var(--clr-white);
}
.txt-weight-300 {
  font-weight: var(--fw-300);
}
.txt-weight-400 {
  font-weight: var(--fw-400);
}
.txt-weight-600 {
  font-weight: var(--fw-600);
}
