:root {
  /* Primary */

  --clr-primary-500: hsl(215, 51%, 70%);
  --clr-primary-400: hsl(178, 100%, 50%);

  /* Neutral */

  --clr-neutral-950: hsl(217, 54%, 11%);
  --clr-neutral-900: hsl(216, 50%, 16%);
  --clr-neutral-800: hsl(215, 32%, 27%);

  --clr-white: hsl(0, 0%, 100%);
}
